name: gh-pages docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install doc deps
        run: |
          pip install .[docs]
          mkdir -p ~/.casa/data
      - name: Install Pandoc dependency for nbconvert 
        run: |
          sudo apt-get install pandoc 
      - name: Clean docs build 
        run: |
          make -C docs clean
      - name: Cache/Restore the AS 209 measurement set
        uses: actions/cache@v3
        env:
          cache-name: cache-AS209
        with:
          # files are stored in docs/tutorials/AS209_MS
          path: docs/tutorials/AS209_MS
          # we want to hash off of the build script
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('docs/tutorials/dl_and_tclean_AS209.py') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Build the docs
        run: |
          make -C docs html 
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
